button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

.hwrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 2%;
}
.tiwrap {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: white;
	font-size: 3rem;
	margin-left: 3%;
}
.hicon {
	margin-right: 10px;
}

.bicon {
	font-size: 3rem;
	color: white;
	margin-right: 3%;
}

.fa-bars {
	pointer-events: none;
}
