.newBtnWrap {
	display: flex;
	font-size: 1.5rem;
	padding: 10px;
	color: rgba(0, 128, 0, 0.76);
	box-sizing: border-box;
	border: 1px solid #3d3d3d;
	align-items: center;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
}
.newBtnWrap:hover {
	background: #7272724f;
	border: 1px solid #7272724f;
	border-radius: 8px;
}
.newBtnWrap:active {
	background: #7272727e;
	border: 1px solid #7272727e;
	border-radius: 8px;
}

.plusIcon {
	margin-right: 10px;
	pointer-events: none;
}
