.burgDiv {
	display: flex;
	background: #212529;
	height: fit-content;
	width: 100%;
	margin-bottom: 8%;
	justify-content: center;
	align-content: center;
}

.burgwrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
	margin-top: 5%;
}

.navbtn {
	display: flex;
	font-size: 40px;
	margin: 1%;
	color: rgb(214, 205, 205);
}

.projecttext {
	margin-top: 5%;
}

.projectBtn {
	font-size: 4rem;
	color: rgb(10, 88, 10);
}
