.projecttext {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}

.projwrap {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.userproj {
	font-size: 2rem;
	color: inherit;
	padding: 6px;
	box-sizing: border-box;
	border: 1px solid #3d3d3d;
	border-radius: 8px;
}

.userproj:hover {
	background: #7272724f;
	border: 1px solid #7272724f;
}
.userproj:active {
	background: #7272727e;
	border: 1px solid #7272727e;
	border-radius: 8px;
}
