.contentWrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 0px 80px 0px 80px;
	margin-top: 10px;
}

.itemWrapper {
	display: flex;
	box-sizing: border-box;
	border: 1px solid #3d3d3d;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	font-size: 1.5rem;
	padding: 5px 0px 5px 0px;
}
.checkPlusText {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}
.dateAndDel {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.itemWrapper:hover {
	background: #7272724f;
	border: 1px solid #7272724f;
	border-radius: 8px;
}
.itemWrapper:active {
	background: #7272727e;
	border: 1px solid #7272727e;
	border-radius: 8px;
}
.todoItem {
	display: inline-flex;
	white-space: nowrap;
	overflow: hidden;
	max-width: 170px;
	font-size: 1.4rem;
}
.todoItem:hover {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: max-content;
}

.contenttitle {
	font-size: 2rem;
	padding-bottom: 10px;
}

.itemBtn {
	color: green;
	margin-right: 5px;
	font-size: inherit;
}
.itemDate {
	margin-right: 5px;
	font-size: 1.4rem;
}
.todoDelete {
	color: #3d3d3d;
	font-size: inherit;
}

.itemWrapper:hover .todoDelete {
	color: red;
}

svg {
	pointer-events: none;
}

.newBtnWrap {
	display: flex;
	font-size: 1.5rem;
	padding: 10px;
	color: rgba(0, 128, 0, 0.76);
	box-sizing: border-box;
	border: 1px solid #3d3d3d;
	align-items: center;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	flex-wrap: nowrap;
}
.newBtnWrap:hover {
	background: #7272724f;
	border: 1px solid #7272724f;
	border-radius: 8px;
}
.newBtnWrap:active {
	background: #7272727e;
	border: 1px solid #7272727e;
	border-radius: 8px;
}

.plusIcon {
	margin-right: 10px;
}
