body {
	display: flex;
	margin: 0;
	height: 100%;
	background-color: #3d3d3d;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #f1f0ea;
}

#container {
	display: flex;
	width: 100%;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
}

.svg {
	pointer-events: none;
}
